CONFIG_haveged=y
# CONFIG_nfs-utils is not set
CONFIG_i2c-tools=y
# CONFIG_openssh-sftp-server is not set
CONFIG_hdparm=y
CONFIG_strace=y
CONFIG_sysstat=y
CONFIG_vim=y
CONFIG_resize-part=y
CONFIG_packagegroup-petalinux-display-debug=y
CONFIG_imagefeature-debug-tweaks=y
CONFIG_ADD_EXTRA_USERS="root:root;petalinux:petalinux;"
CONFIG_phytool=y
CONFIG_memtester=y
CONFIG_iperf3=y
