&i2c0 {
	pcf85063: pcf85063@51 {
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};
};

&gem0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	/delete-property/ local-mac-address;

	mdio {
		phy0: ethernet-phy@3 {
			reg = <3>;

			txc-skew-ps = <1800>;
			txen-skew-ps = <420>;

			txd0-skew-ps = <420>;
			txd1-skew-ps = <420>;
			txd2-skew-ps = <420>;
			txd3-skew-ps = <420>;

			rxc-skew-ps = <900>;
			rxdv-skew-ps = <420>;

			rxd0-skew-ps = <420>;
			rxd1-skew-ps = <420>;
			rxd2-skew-ps = <420>;
			rxd3-skew-ps = <420>;
		};
	};
};
